html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 51, 51);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}