$menu-height: 74px;

$landing-page-breakpoint: 820px;

$project-offset: 100px;
$project-shink-before-breakpoint: 150px;

$max-content-width: 1000px;
$mobile-breakpoint: 668px;

// Colours
$logo-colour: #d61f35;
$timeline-colour: #e0e0e0;